table {
    border: 1px solid darkgray;

    width: 100%;
}

th {
    height: 50px;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tdCenter {
    width: 100px
}

.tdBody {
    width: 700px;
}